version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Anhyeuem@1
      MYSQL_DATABASE: bumblebee
      MYSQL_USER: bumblebee
      MYSQL_PASSWORD: Anhyeuem@1
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "--silent" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 5s

  app:
    build: .
    image: my-spring-boot-app
    depends_on:
      mysqldb:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/bumblebee
      SPRING_DATASOURCE_USERNAME: bumblebee
      SPRING_DATASOURCE_PASSWORD: Anhyeuem@1

volumes:
  mysql-data:
