spring:
  mvc:
    cors:
      allowed-origin-patterns: "*"
      allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
      allowed-headers: "Authorization,Cache-Control,Content-Type"
      allow-credentials: true
      max-age: 3600
  datasource:
#    url: jdbc:mysql://root:xniJeYxlnZmzhAFAIZtZfRhDIMlmgFQw@viaduct.proxy.rlwy.net:54131/railway
    url: jdbc:mysql://localhost:3306/bumblebee
    username: root
    password: Anhyeuem@1
#    password: xniJeYxlnZmzhAFAIZtZfRhDIMlmgFQw
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    database: mysql
    hibernate:
      ddl-auto: update
    open-in-view: true
  data:
    rest:
      base-path: /api

server:
  port: 8080
